h1{
    font-family: cursive;
    font-size: 50px;
    color: seashell;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-family: fantasy;
    font-size: 24px;
    color: gold;
    margin-top: 15px;
    margin-bottom: 8px;
}

.title{
    font-family: fantasy;
    font-size: 30px;
    color: gold;
    margin-top: 15px;
    margin-bottom: 8px;
}

h3{
    font-family: fantasy;
    font-size: 24px;
    color: gold;
    margin-bottom: 0;
}

h4{
    font-family: fantasy;
    font-size: 18px;
    color: peru;
    margin-top: 0;
}

p{
    font-family: sans-serif;
    color:peru;
    margin-left: 30px;
    margin-top: 0;
    line-height: 25px;
    max-width: 900px;
}

.toppings{
    font-family: cursive;
    color:peru;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

.roots{
    font-family: sans-serif;
    color:peru;
    margin-left: 30px;
    margin-top: 0;
    line-height: 25px;
    max-width: 900px;
}

.location{
    font-family: sans-serif;
    color:peru;
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 900px;
}

dt{
    font-family: cursive;
    color:peru;
    font-size: 19px;
    margin-left: 25px;
    margin-top: 0;
    line-height: 30px;
    max-width: 900px;
}

dd{
    font-family: cursive;
    color:peru;
    font-size: 17px;
    margin-left: 50px;
    margin-top: 0;
    line-height: 30px;
    max-width: 800px;
}

a:link{
    color: green;  
}

a:visited{
    color: darkgreen;  
}

a:hover{
    color: darkseagreen;
}

a:active{
    color: forestgreen;
}


body{
    background-color: darkred;
}

