body{
    margin: 0;
    color: seashell;
    background-color: black;
}

/*     Header     */

header{
    text-align: center;
}

h1{
    font-size: 50px;
    padding-top: 15px;
    font-family: copperplate, monospace;
    color: white;
    padding-bottom: 15px;
    margin: 0;
}

#logo{
    float: left;
    padding-left: 15px;
    max-width: 75px;
    max-height: 75px;
}


/*     Nav Bar     */

nav{
    background-color: darkgoldenrod;
    margin: 0px;
    width: 100%;
}

.nav_bar{
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0;
}

.nav_item{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: copperplate, monospace;
    text-align: center;
    font-size: 20px;
    width: 20%;
}

ul{
    margin: 0;
    padding-left: 0;
}

/*     Timer     */

#count{
    text-align: center;
    font-size: 35px;
    color: red;
    background-color: darkblue;
    padding-top: 10px;
}

h2{
    margin: 0;
}

/*     Sticky       */

#sticks{
    z-index: 5;
    background: darkred;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


/*     Synopsis     */

#synopsis{
    text-align: center;
    font-size: 20px;
    max-width: 100%;
    margin-left: 3%;
    margin-right: 2%;
    float: left;
}

h4{
    font-size: 25px;
}


/*     Poster     */

#poster{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

#posters{
    width: 10%;
    padding-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    transition: width 3s, margin-left 3s, margin-right 3s, padding-top 3s;
}

#ogol{
    display: none;
    margin: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
    transition: margin-top 2s;
    transition-timing-function: ease-in;
}

#posters:hover {
    width: 30%;
    margin-left: 0;
    margin-right: 2%;
    padding-top: 2%;
}

#posters:hover + #detail{
    width: 60%;
    margin-left: 2%;
    margin-right: 0;
    padding-bottom: 0;
    display: block;
}

#posters:hover + #detail > #ogol{
    display: block;
    margin-top: 10%;
}

#detail{
    max-width: 85%;
}


/*     Reviews     */

#reviews{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

#r1, #r4{
    max-width: 1200px;
    margin: 0;
    width: 100%;
    clear: both;
    text-align: center;
}

#r2{
    max-width: 600px;
    padding-left: 1%;
    width: 48%;

    float: left;
    text-align: center;
}

#r3{
    max-width: 600px;
    padding-right: 1%;
    width: 48%;
    float: right;
    text-align: center;
}

#r23{
    max-width: 1200px;
}

#r1{
    margin-top: 5%;
}

/*     Zip          */

#zip{
    margin-top: 5%;
    background-color: darkblue;
}

#zips{
    width: 25%;
    margin-left: 40%;
    text-align: center;
    font-size: 20px;
}

input[type=text]{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]{
    width: 25%;
    float: left;
    margin-left: auto;

}


/*     Trailer     */

#trailer{
    margin-top: 3%;
    
}

#nwh{
    width: 100%;
    display: block;
    margin: 0 auto;
}




/*     Cast     */

h3{
    font-size: 30px;
    text-align: center;
}

#cast{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:    'holland dafoe molina cumberbatch'
                            'z simmons foxx tomei'
                            'favr batalon starr revolori';
    margin-left: 3%;
    margin-right: 3%;
}

#holland, #dafoe, #molina, #cumberbatch, #z, #simmons, #foxx, #tomei, #favr, #batalon, #starr, #revolori{
    padding: 2%;
    text-align: center;
}

.actor{
    max-width: 100%;
}

/*        Media Query for tablet size       */

@media  screen and (max-width: 850px) {

    #cast{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:    'holland dafoe molina'
                                'cumberbatch z simmons'
                                'foxx tomei favr' 
                                'batalon starr revolori';
        margin-left: 3%;
        margin-right: 3%;
    }
}


/*        Media Query for Phone size       */

@media  screen and (max-width: 600px) {

    #cast{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:    'holland dafoe'
                                'molina cumberbatch'
                                'z simmons'
                                'foxx tomei'
                                'favr batalon' 
                                'starr revolori';
        margin-left: 3%;
        margin-right: 3%;
    }
}